# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.npm-cache
dist
src-tauri/target
dist-ssr
*.local
resources/ffmpeg/__tmp__/
resources/ffmpeg/ffmpeg-dl.*
!resources/ffmpeg/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
